<div class="nested-fields form-group">
  <div class="row align-items-end justify-content-between">
    <div class="col-4">
      <%= f.label :report_criterium_id, "Select Criterium" %>
      <%= f.collection_select :report_criterium_id, ReportCriterium.all, :id, :title, { include_blank: true }, class: "select-criterium" %>
    </div>
    <div class="col-3">
      <%= f.label :description, "Description" %>
      <%= f.text_field :description, class: "form-control"  %>
    </div>
    <div class="col-3">
      <%= f.label :score, "Score" %>
      <%= f.number_field :score, class: "form-control"  %>

    </div>
    <div class="col-2">
      <%= f.hidden_field :_destroy %>
      <%= link_to "Remove", '#', class: 'remove_fields btn btn-danger' %>
    </div>
  </div>
</div>