<h1>Welcome, <%= current_user.username %></h1>
<!--<%#= link_to 'Log out', logout_path, data: { turbo_method: :delete } %><br>-->

<div class="row mt-3">
  <div class="col-lg-3 col-6">
    <div class="small-box bg-info">
      <div class="inner">
        <h3><%= Teacher.count %></h3>
        <p>Teacher</p>
      </div>
      <div class="icon">
        <i class="fa-solid fa-user-tie"></i>
      </div>

      <%= link_to admin_teachers_path, class: "small-box-footer" do %>
        <i class="fas fa-arrow-circle-right"></i>
        More info
    <% end %>

    </div>
  </div>
  <div class="col-lg-3 col-6">
    <div class="small-box bg-warning">
      <div class="inner">
        <h3><%= Student.count %></h3>
        <p>Student</p>
      </div>
      <div class="icon">
        <i class="fa-solid fa-users"></i>
      </div>
      <%= link_to admin_students_path, class: "small-box-footer" do %>
        <i class="fas fa-arrow-circle-right"></i>
        More info
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <div class="small-box bg-danger">
      <div class="inner">
        <h3><%= Course.count %></h3>
        <p>Course</p>
      </div>
      <div class="icon">
        <i class="fa-solid fa-book"></i>
      </div>
      <%= link_to admin_courses_path, class: "small-box-footer" do %>
        <i class="fas fa-arrow-circle-right"></i>
        More info
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <div class="small-box bg-fuchsia">
      <div class="inner">
        <h3><%= MasterClass.count %></h3>
        <p>Class</p>
      </div>
      <div class="icon">
        <i class="fa-solid fa-landmark"></i>
      </div>
      <%= link_to admin_master_classes_path, class: "small-box-footer" do %>
        <i class="fas fa-arrow-circle-right"></i>
        More info
      <% end %>
    </div>
  </div>
</div>