<!DOCTYPE html>
<html>
  <head>
    <title>CourseReportManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/e53e49a7cf.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag "add_jquery", "data-turbo-track": "reload" %>
    <%#= javascript_include_tag "add_select2", "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  </head>


    

    <body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
  <%= render "base/header"  %>

  <!-- Main Sidebar Container -->
  <%= render "base/admin/sidebar" if current_user.role?(User::ROLES[:admin]) %>
  <%= render "base/teacher/sidebar" if current_user.role?(User::ROLES[:teacher]) %>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <%= yield %>

        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <%= render "base/control_sidebar" %>


  <!-- Main Footer -->
  <%= render "base/footer" %>

</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        alert("jQuery is working in view!");-->
<!--        // Tambahkan kode jQuery lainnya di sini-->
<!--    });-->
<!--</script>-->

<%# <!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script> %>
</body>

</html>
